name: Test PHP images with extensions

on:
  pull_request:
  workflow_call:
    inputs:
      publish:
        required: true
        default: false
        type: boolean

jobs:
  enrich-matrix:
    name: Enrich matrix
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.enrich-matrix.outputs.matrix }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Enrich matrix.json
        id: enrich-matrix
        run: |
          matrix=$(jq -c . < matrix.json)
          matrix=$(echo "$matrix" | jq -c '
            .phpimages |= map(
              .tagPatch =
                (
                  [ 
                    (.major|tostring) + "." + (.minor|tostring) + "." + (.patch|tostring),
                    (.variant | select(. != "")),
                    (.os | select(. != "")),
                    (if .node != "" then "node" + .node else empty end)
                  ]
                  | join("-")
                )
              |
              .tagMinor =
                (
                  [ 
                    (.major|tostring) + "." + (.minor|tostring),
                    (.variant | select(. != "")),
                    (.os | select(. != "")),
                    (if .node != "" then "node" + .node else empty end)
                  ]
                  | join("-")
                )
            )'
          )
          echo "matrix=$matrix" >> $GITHUB_OUTPUT

  build-and-push:
    name: ${{ matrix.phpimage.tagMinor }} (${{ matrix.platform }})
    runs-on: ${{ matrix.platform == 'linux/amd64' && 'ubuntu-latest' || matrix.platform == 'linux/arm64' && 'ubuntu-24.04-arm' }}
    needs: enrich-matrix
    strategy:
      fail-fast: false
      matrix:
        phpimage: ${{ fromJson(needs.enrich-matrix.outputs.matrix).phpimages }}
        platform:
          - linux/amd64
          - linux/arm64
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Buildx
        uses: docker/setup-buildx-action@v3

      - name: Populate tags
        id: tags
        run: |
          TAG_OS="${{ matrix.phpimage.os }}"
          TARGET="php"
          if [ "$TAG_OS" != "" ]; then
            TAG_OS="-$TAG_OS"
          fi
          if [ "${{ matrix.phpimage.node }}" != "" ]; then
            TARGET="php-node"
          fi
          echo "OS=$TAG_OS" >> $GITHUB_OUTPUT
          echo "TARGET=$TARGET" >> $GITHUB_OUTPUT

      - name: Build for testing
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          platforms: ${{ matrix.platform }}
          load: true
          target: ${{ steps.tags.outputs.TARGET }}

          build-args: |
            BASE_TAG=${{ matrix.phpimage.major }}.${{ matrix.phpimage.minor }}.${{ matrix.phpimage.patch }}-${{ matrix.phpimage.variant }}${{ steps.tags.outputs.OS }}
            EXTENSIONS=${{ matrix.phpimage.extensions }}
            PECL=${{ matrix.phpimage.pecl }}
            PACKAGES=${{ matrix.phpimage.packages }}
            OS=${{ matrix.phpimage.os }}
            NODE_VERSION=${{ matrix.phpimage.node }}

          tags: test

      - name: Test build
        run: scripts/test_image.sh --node="${{ matrix.phpimage.node }}" --extensions="${{ matrix.phpimage.extensions }} ${{ matrix.phpimage.pecl }}" --image="test"

      - name: Log in to GHCR
        if: ${{ inputs.publish }}
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push digest
        if: ${{ inputs.publish }}
        id: build
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          platforms: ${{ matrix.platform }}
          target: ${{ steps.tags.outputs.TARGET }}
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE }}
          outputs: type=image,push-by-digest=true,name-canonical=true,push=true

          build-args: |
            BASE_TAG=${{ matrix.phpimage.major }}.${{ matrix.phpimage.minor }}.${{ matrix.phpimage.patch }}-${{ matrix.phpimage.variant }}${{ steps.tags.outputs.OS }}
            EXTENSIONS=${{ matrix.phpimage.extensions }}
            PECL=${{ matrix.phpimage.pecl }}
            PACKAGES=${{ matrix.phpimage.packages }}
            OS=${{ matrix.phpimage.os }}
            NODE_VERSION=${{ matrix.phpimage.node }}

      - name: Export digest
        if: ${{ inputs.publish }}
        run: |
          mkdir -p ${{ runner.temp }}/digests/${{ matrix.phpimage.tagMinor }}
          jq -c -n \
            --arg platform "${{ matrix.platform }}" \
            --arg digest "${{ steps.build.outputs.digest }}" \
            --arg tagMinor "${{ matrix.phpimage.tagMinor }}" \
            --arg tagPatch "${{ matrix.phpimage.tagPatch }}" \
            '$ARGS.named' > ${{ runner.temp }}/digests/${{ matrix.phpimage.tagMinor }}/${{ strategy.job-index }}.json

      - name: Upload digest
        if: ${{ inputs.publish }}
        uses: actions/upload-artifact@v4
        with:
          name: digests-${{ strategy.job-index }}
          path: ${{ runner.temp }}/digests/*
          if-no-files-found: error
          retention-days: 1
