name: Test PHP images with extensions

on:
  pull_request:

permissions:
  contents: read

jobs:
  read-matrix:
    name: Read matrix
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.prepare_build_vars.outputs.matrix }}

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Prepare build variables
        id: prepare_build_vars
        run: |
          echo "matrix=$(jq -c . < matrix.json)" >> $GITHUB_OUTPUT

  build-and-test:
    name: Build and test
    needs: read-matrix
    uses: ./.github/workflows/template-images.yml
    with:
      publish: false
      registry: ''
      image: ''
      matrix: ${{ needs.read-matrix.outputs.matrix }}

  validate-build-and-test:
    name: Validate build outcome
    runs-on: ubuntu-latest
    needs: build-and-test
    if: ${{ cancelled() || contains(needs.*.result, 'cancelled') || contains(needs.*.result, 'failure') }}
    steps:
      - name: Conditionally fail required check
        run: |
          echo "::error Some required job has failed!"
          exit 1
